:root {
    --background-color: #F0F0F0; /*Light gray*/
    --dot-color-1: #E6563B; /*RED*/
    --dot-color-2: #EB9D3A; /*ORANGE*/
    --dot-color-3: #7db06d; /*GREEN*/
    --dot-color-4: #00ABA9; /*TEAL*/
}

body {
    font-family: Anton , sans-serif;
    box-sizing: border-box;
    background-color: var(--background-color);
}

header {
    font-family: Abel
}

.jumbotron {
    background-color: white;

}
.img-fluid {
    position: relative;
}


/* SMALL DOT STYLING FOR UNDER IMAGES*/
.dot {
    /*float: right;*/
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-weight: bold;
    display: inline-block;
}

.dot-1 {
    background-color: var(--dot-color-1);
}
.dot-2 {
    background-color: var(--dot-color-2);
}
.dot-3 {
    background-color: var(--dot-color-3);
}
.dot-4 {
    background-color: var(--dot-color-4);
}

.tiny-font {
    font-size: 10px;
    text-align: center;
    color: black;
}

.figure-caption {
    color: black;
}


/*LARGE DOT STYLING FOR small to extra large screens*/

.large-dot {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    font-weight: bold;
    display: inline-block;
}

.large-dot-font {
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 99px;
    font-weight: normal;
    border: solid white 6px;
}

.large-dot-1 {
    background-color: var(--dot-color-1);
}
.large-dot-2 {
    background-color: var(--dot-color-2);
}
.large-dot-3 {
    background-color: var(--dot-color-3);
}
.large-dot-4 {
    background-color: var(--dot-color-4);
}